<!DOCTYPE html>
<html>
  <head>
    <title>TaskCraftCabService</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
     <p class="navbar-text float-right">
      <% if customer_signed_in? %>
        Logged in as <strong><%= current_customer.email %></strong>
        <%= link_to "Edit profile", edit_customer_registration_path, class: "navbar-link" %> |
        <%= button_to "Logout", destroy_customer_session_path, method: :delete, class: "navbar-link" %>
      <% else %>
         <%= link_to "Sign up", new_customer_registration_path, class: "navbar-link" %> |
         <%= link_to "Login", new_customer_session_path, class: "navbar-link" %>
      <% end %> 
      </p>     

    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-denger"><%= alert %></p>
    <% end %>   


    <%= yield %>
  </body>
</html>
